body {
   font-family: Arial, sans-serif;
   
}
.news-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   gap: 20px;
}
.news-item {
   width: 30%;
   border: 1px solid #ccc;
   padding: 15px;
   text-align: center;
}
.news-item img {
   max-width: 100%;
   height: auto;
}
.news-item h3 {
   font-size: 1.5rem;
}
.news-item p {
   font-size: 1rem;
   color: #555;
}
.news-item a {
   display: inline-block;
   margin-top: 10px;
   padding: 10px 20px;
   background-color: #007bff;
   color: white;
   text-decoration: none;
}
#perfil-programador {
   background-color: #f9f9f9;
   padding: 20px;
   border-radius: 8px;
   margin: 20px 0;
}

.perfil-contenido {
   display: flex;
   align-items: center;
}

.perfil-imagen {
   border-radius: 50%;
   width: 100px;
   height: 100px;
   margin-right: 20px;
}

h2 {
   color: #333;
}

h3 {
   margin: 0;
   font-size: 1.5em;
}

p {
   color: #666;
}
footer {
   background-color: #333;
   color: #fff;
   text-align: center;
   padding: 20px 0;
}

footer p {
   margin: 0;
   font-size: 14px;
}

footer nav ul {
   list-style: none;
   padding: 0;
   margin: 10px 0 0 0;
   display: flex;
   justify-content: center;
}

footer nav ul li {
   margin: 0 15px;
}

footer nav ul li a {
   color: #fff;
   text-decoration: none;
   font-size: 14px;
}

footer nav ul li a:hover {
   text-decoration: underline;
}
